:root {
    --outer-space: #0d243d;
    --bright-turquoise: #020e0c;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
}

::selection {
    background-color: var(--bright-turquoise);
    color: var(--outer-space);
}
html {
    font-size: 62.5%;
}

head {
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--gin);
  background-color: var(--outer-space);

  }


  sub {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gin);
  background-color: var(--outer-space); 
  justify-content: flex-end;
  align-items: flex-start;
  }

body {
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--gin);
    background-color: var(--outer-space);
  }

  h1,
  h2,
  h3
{
    margin-bottom: 0.625rem;
    color: var(--heliotrope);
    font-weight: 700;
    line-height: 1.1;
    font-size: 4rem
  }

  h1 {

    font-size: 4rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  code {
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
      'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
      'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
      monospace;
  }

  .header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: flex-end;
    justify-content: flex-start;
  }

  main {
    width: 96%;
    margin: 2rem auto;
  }

  .avatar {
    height: 300px;
    width: 300px;
  }

  .billy {
    height: 200px;
    width: 150px;
    justify-content: flex-start;
  }

  .project1 {
    background-image: url("https://media.istockphoto.com/id/1302189748/photo/digital-cyberspace-with-particles-and-digital-data-network-connections-high-speed-connection.jpg?b=1&s=612x612&w=0&k=20&c=bwDXyw4wOGrBQOQ2Z15DUApR8H2MNogIaIIZp9jnuoQ=");
    height: 450px;
    width: 100%;
    color: #ffff;

  }

  .resume1 {
    background-image: url("background2.avif");
    height: 450px;
    width: 100%;
    color: #ffff
  
  }
  footer {
    margin: 1.5rem;
    text-align: center;
  }
 
  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .justify-center {
    justify-content: center;
  }

  .card-column {
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }
 
  .code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--heliotrope);
    outline: 2px dashed var(--gin);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
  }

  .code-card .card-header {
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--outer-space);
    color: var(--heliotrope);
    border: 2px solid var(--gin);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

.code-card .code-block {
    flex-grow: 1;
  }

  .code-card pre {
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--gin);
    border-radius: 8px;
    background-image: linear-gradient(
      rgba(232, 102, 236, 0.3) 0%,
      rgba(232, 102, 236, 0.6) 100%
    );
    display: flex;
    align-items: flex-start;
  }

  .code-card pre:active {
    user-select: all;
  }


  @media screen and (min-width: 768px) {
    .card-column {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .card-column {
        flex: 0 0 33.333%;
        max-width: 33.333%;
      }
  }
  

  